<!-- TODO: Muestra el listado de imagenes-->
<div class="container-fluid">  
  <div class="row text-center">
    <div class="col-md-12 d-flex justify-content-center flex-wrap" >
      <a class="pe-auto" data-bs-toggle="modal" data-bs-target="#previewModal" >
        <img 
        class="col-md-3 rounded img-fluid img-thumbnail img-dim m-1" 
        *ngFor="let item of dataImages.hits"
        [src]="item.webformatURL"
        (click)="previewImage(item)" />
      </a>
    </div>
  </div>
</div>
   <div>
  <!--TODO: Modal de vista previa de la imagen seleccionada -->
  <modal-component
    [views]="views"
    [likes]="likes"
    [tags]="tags"
    [imageSelected]="imageSelected"
  ></modal-component>
</div>

