<!-- TODO: formulario -->
<div class="jumbotron jumbotron-fluid modal-static sticky-top">
  <div class="container-fluid">
    <div class="flex-row">
      <div class="col-md-12 col-sm-6 col-lg-12">
        <form class="form-inline" [formGroup]="imagesForm" (ngSubmit)="searchImage()" (keypress.enter)="searchImage()">
          <div class="form-group col-md-5 col-sm-5 col-lg-5">
            <input 
              type="text"
              class="form-control w-100"
              placeholder="Buscador de Imágenes por palabra"
              id="textImages"
              name="textImages"
              ngModel maxlength="100"
              formControlName="textImages"
            />
          </div>
          <div class="form-group col-md-5 col-sm-5 col-lg-5">
            <select class="form-control form-select w-100" id="selectCategory" formControlName="categoryValue">
              <option [value]="category.value" *ngFor="let category of categories">{{ category.name }}</option>                 
            </select>            
          </div>
          <button type="submit" class="btn btn-primary col-md-2 col-sm-2 col-lg-2">Buscar</button>
        </form>
      </div>
    </div>    
  </div>
</div>
<div>
  <!-- TODO: Spinner durante la busqueda -->
<div class="text-center" *ngIf="showSpinner">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- TODO: alerta para cuando no existen resultados de la busqueda -->
<div class="alert alert-dismissible alert-primary" *ngIf="alert">
  <button type="button" class="btn-close close border-0" data-bs-dismiss="alert" aria-label="Close" (click)="searchImage()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>No hay imágenes que coincidan con tu búsqueda.</strong> <span > Cambia tu consulta</span> e intenta de nuevo.
</div>